/* OLD but leaving it incase I decide to revert back to something more boring
:root {
    --background-colour: #f3efe5;
    --text-colour: #4a3e3e;
    --link-colour: #000;
    --border-colour: #C6BFB5;
    --main-highlight-colour: #5E4F5E;
    --secondary-highlight-colour: #4a3e4a;
    --tertiary-highlight-colour: #3e4a3e;
    --callout-colour: #F3EFD5;
} */

:root {
    --background-colour: #FAF9F5;
    /* Pale and brighter background */
    --text-colour: #4A3E3E;
    --link-colour: #3498d8;
    --border-colour: #C6BFB5;
    --main-highlight-colour: #ff6c42;
    --secondary-highlight-colour: #8E59B6;
    --tertiary-highlight-colour: #603b7a;
    --callout-colour: #F3EFE5;
}

/* CSS Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

/* Heading sizes */
h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 12px;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'IM Fell DW Pica', serif;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: var(--text-colour);
}

main>hr {
    margin: 1.5em auto;
}


ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:not(.no-style) {
    color: var(--link-colour);
}

a.no-style:hover {
    color: var(--link-colour);
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border-color: var(--border-colour)
}

h3,
h4,
h5,
h6 {
    color: var(--secondary-highlight-colour);
}

h1,
h2 {
    color: var(--main-highlight-colour);
    font-style: bold;
}

.contact-info,
.skills-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-info li {
    /* Vertically centre text */
    display: flex;
    align-items: center;
    color: var(--tertiary-highlight-colour);
    width: 33.33%;
    justify-content: center;
}

.material-symbols-outlined {
    margin-right: 5px;
}

.cv-container {
    width: 210mm;
    height: 297mm;
    margin: 10mm auto;
    padding: 10mm;
    background-color: var(--background-colour);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 1.5em;
}

.profile {
    color: var(--text-colour);
    padding: 0 20px;
}

.emphasise {
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.job {
    margin-bottom: 8mm;
}

footer {
    text-align: center;
    margin-top: 5mm;
    font-size: 10pt;
}

#github-icon {
    height: 20px;
    margin-right: 5px;
}

#linkedin-icon {
    height: 20px;
    margin-right: 5px;
}

.experience-section {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-row div,
.skills-list .flex-row li {
    width: 50%;
    padding: 0 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Ultra jank way of making the columns fit the same height */
.flex-row div:nth-of-type(1) {
    font-size: 14px;
    width: 55%;
}

/* Add margin between h3 elements */
.flex-row div:nth-of-type(1) h3 {
    margin-top: 0.8em;
}

/* Remove margin again if h3 is immediately following a h2 element */
.flex-row div:nth-of-type(1) h2+h3 {
    margin-top: 0;
}

.flex-row div:nth-of-type(2) {
    width: 100%;
}

.bullet-points {
    list-style: disc;
    margin-left: 1em;
}

.experience {
    /*background-color: var(--callout-colour);*/
    background: linear-gradient(to right, #fcf5f5 0%, #F3EFE5 30%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

.download-link {
    text-align: center;
    margin: auto;
    padding-bottom: 3em;
}

.download-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* To match the width of the experience section */
#professional-experience {
    padding: 5px 20px 0 20px;
}

@media print {

    /* Set the page width and height to that of a sheet of A4 paper */
    @page {
        size: A4;
    }

    /* Remove the box shadow from the cv itself */
    .cv-container {
        box-shadow: none;
        margin: 0;
        padding-bottom: 0;
    }

    html {
        background-color: #FAF9F5;
    }

    .download-link {
        display: none;
        padding: 0;
    }
}